.app {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__start-message {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.1;
  font-size: 5vw;
  padding: 20px;
  pointer-events: none;
}
