.app {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__start {
  opacity: 0.2;
  text-align: center;
}

.app__start__error {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  pointer-events: none;
  font-style: italic;
}

.app__start__message {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  padding: 20px;
  pointer-events: none;
}

.app__start__example {
  color: white;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.app__start__example-users {
  color: white;
  list-style: none;
}

.app__start__example-users li span {
  transition: all 200ms;
  cursor: pointer;
  font-size: 36px;
  font-weight: 300;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}

.app__start__example-users li span:hover {
  border-color: rgba(255, 255, 255, 1);
}
