.app .slick-next {
  right: 25px;
}

.app .slick-prev {
  left: 25px;
}

.app .slick-prev,
.app .slick-next {
  z-index: 20;
  width: 30px;
  height: 30px;
}

.app .slick-prev::before,
.app .slick-next::before {
  font-size: 25px;
  display: flex;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.app .slick-slider {
  width: 100vw;
  height: 100vh;
}

.app .gallery-thumb-view {
  width: 100%;
  margin: 500px 0 0 0;
  height: 100vh;
  padding: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  align-items: center;
}
.app .gallery-thumb-view__item {

}
.app .gallery-thumb-view__item__image {
  width: 100%;
}

@media (min-width: 768px) {
  .app .gallery-thumb-view {
    margin: 0 300px 0 0;
    grid-template-columns: repeat(4, 1fr);
  }
}
