.app .slick-prev,
.app .slick-next {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
.app .slick-next {
  transform: rotate(135deg);
}
.app .slick-next {
  right: 25px;
}

.app .slick-prev {
  left: 25px;
}
.app .slick-prev::before,
.app .slick-next::before {
  display: none !important;
}
.app .slick-prev::after,
.app .slick-next::after {
  border-left: 2px solid white;
  border-top: 2px solid white;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.app .slick-prev,
.app .slick-next {
  z-index: 20;
  width: 30px;
  height: 30px;
}

.app .slick-prev::before,
.app .slick-next::before {
  font-size: 25px;
  display: flex;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.app .slick-slider {
  width: 100vw;
  height: 100vh;
}

.app .gallery-thumb-view {
  transition: all 300ms var(--ease-default);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  padding: 40px;
  width: 100%;
  opacity: 0;
}
.app .gallery-thumb-view--enabled {
  opacity: 1;
}
.app .gallery-thumb-view__wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  align-items: center;
}
.app .gallery-thumb-view__item {
  height: 500px;
}
.app .gallery-thumb-view__item--loaded {
  height: auto;
}
.app .gallery-thumb-view__item__image {
  transition: all 300ms var(--ease-default);
  width: 100%;
  cursor: pointer;
  display: block;
}
.app .gallery-thumb-view__item__image:hover {
  transform: scale(0.95);
  box-shadow: 0 0 0 5px white;
}
.app .gallery-thumb-view__item--selected .gallery-thumb-view__item__image {
  transform: scale(0.95);
  box-shadow: 0 0 0 5px #FFEB3B;
  opacity: 0.5;
}

.lazy {
  transition: all 300ms var(--ease-default);
  opacity: 0;
  transform: translateY(10px);
}

.lazy.loaded {
  opacity: 1;
  transform: translateY(0px);
}

@media (min-width: 768px) {
  .app .gallery-thumb-view__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
