* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .slick-next {
  right: 25px;
}
.app .slick-prev {
  left: 25px;
}
.app .slick-prev,
.app .slick-next {
  z-index: 20;
  width: 30px;
  height: 30px;
}
.app .slick-prev::before,
.app .slick-next::before {
  font-size: 25px;
  display: flex;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.app .slick-slider {
  width: 100vw;
  height: 100vh;
}
.app__start-message {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.1;
  font-size: 5vw;
  padding: 20px;
  pointer-events: none;
}

.main-header {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}
.main-header__user__avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 10px;
}
.main-header__user__name {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.main-header__input {
  background: black;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 18px;
  height: 40px;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

.slick-slide img {
  width: auto;
  height: 100vh;
  display: block;
}
